# Operating System

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# Composer

/vendor/
composer.lock

# Logs

*.log

# Cache

/cache/
/tmp/

# PHPUnit

.phpunit.result.cache

# Node

node_modules/

# Build

dist/
coverage/

# Misc

.env
.env.local

.dfmt/
.claude/
